#add-link{
	text-align: right;
	width: 35px !important;
}
.quarters span{
	margin-right: 5px;
}
tbody#courselist-tbody{
	cursor: pointer !important;
}
th#quarter-header{
	text-align: center;
}
.label-default{
	opacity: 0.6;
}