#add-link {
	text-align: right;
	width: 35px !important;
}
.quarters {
	text-align: center;
}
.quarters span {
	margin-right: 5px;
}
.quarters .label-success {
	background-color: #3f51b5 !important;
}
div.course-list {
	padding-right: 26px !important;
}
.course-list div.panel-body {
	padding-left: 0 !important;
	padding-top: 0 !important;
}
th#quarter-header {
	text-align: center;
}
.label-default {
	opacity: 0.6;
}
.quarter a {
	color: white;
}
.hidden-element, .hidden-row {
	display: none;
}
#specialisation-toggle, #specialisation-toggle span, span.badge.spec-badge {
	background-color: #017BB0 !important;
}
.courselist-buttons .active#advanced-switch, #advanced-switch:active, span.badge.advanced-badge {
    color: white !important;
    background-color: #015C83 !important;
}
#advanced-switch:not(:active), button.quarter-filter:not(:active)  {
    color: white !important;
	background-color: rgba(182, 182, 182, 0.89) !important;
}
.courselist-buttons button.quarter-filter.active, .btn.quarter-filter:active {
	background-color: #3f51b5 !important;
}
span.badge.other-level{
    background-color: #00776A !important;
}
span.badge.hp-badge{
    background-color: #007165 !important;
}
.progress-bar{
    background-color: #007165 !important;
}
#active-spec, #active-spec *{
    color: white !important;
    background-color: #017BB0 !important;
}
