.course-btn{
	font-size:12px !important;
	padding: 8px 0px 8px 30px !important;
}
table {
	table-layout: fixed;
}
.container{
	width: 100% !important;
}
.row{
	width: 100% !important;
}
.course-credits, .course-id, .course-name{
	padding: 0 !important;
}
.course-id, .course-name{
	text-align:left;
}
.course-credits{
	text-align:right;
}
