#add-link{
	text-align: right;
	width: 35px !important;
}
.quarters {
	text-align: center;
}
.quarters span{
	margin-right: 5px;
}
tbody#courselist-tbody{
	cursor: pointer !important;
}
th#quarter-header{
	text-align: center;
}
.label-default{
	opacity: 0.6;
}

.quarter a{
	color:white;
}

.hidden-row{
	display: none;
}
.courselist-buttons .btn-info#advanced-switch{
	background-color:rgba(182, 182, 182, 0.89);
}
.btn-info.active{
	background-color:  #03a9f4 !important;
}
