.container{
	width: 100% !important;
}
.row{
	width: 100% !important;
}
.course-credits, .course-id, .course-name{
	padding: 0 !important;
}
.course-id, .course-name{
	text-align:left;
}
.course-credits{
	text-align:right;
}


.drop-description {
  width: 100%;
  font-weight: 300;
  margin: 1em 0 0;
}

.dnd-source-objects {
  margin-right: 30px;
}

.dnd-source-object {
  width: 240px;
  line-height: 38px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.2);
  cursor: -webkit-grab;
  cursor: grab;
}
.dnd-source-object:not(:last-child) {
  margin: 0 0 10px;
}
.dnd-source-object.green {
  background: #B0DE6B;
}
.dnd-source-object.blue {
  background: #76C9DE;
}

.dnd-drop-targets {
  background: #948F8F;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
}

.dnd-drop-target {
  position: relative;
  background: white;
  line-height: 50px;
  font-weight: 300;
  overflow: hidden;
}
.dnd-drop-target:not(:last-child) {
  margin: 0 0 10px;
}
.dnd-drop-target.green:before, .dnd-drop-target.blue:after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 100%;
  background: #B0DE6B;
}
.dnd-drop-target.green.blue:after {
  left: 20px;
}
.dnd-drop-target.active.hover:after, .dnd-drop-target.active.hover:before {
  display: none;
}
.dnd-drop-target.active {
	background: rgba(1, 123, 176, 0.56) !important;
}
.dnd-drop-target.active.hover {
  background: #017BB0 !important;
}
.dnd-drop-target.disabled {
  opacity: 0.2;
  cursor: no-drop;
}

.dnd-draggable.dragging {
  z-index: 5 !important;
  pointer-events: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
