table {
	table-layout: fixed;
}
div.well{
	padding-right: 7px !important;
}
tr{
	text-align: left;
}
span.glyphicon-plus-sign {
	font-size: 1.5em;
	cursor: pointer ;
	color:#009688;
}
.course-list {
	margin-left: 0px !important;
	padding: 0px 15px 0px 0px !important;
}
.credits-box{
	padding: 0px !important;
	margin: 0px !important;
}
.panel-heading{
	text-align: left;
}

.courselist-buttons{
	margin:0 !important;
}
.courselist-buttons .btn-sm, .courselist-buttons .btn-group {
	overflow: hidden;
	width: 100% !important;
}

div.courselist-buttons > div {
	padding-left: 0px !important;
	padding-right: 5px !important;
}
.dropdown-menu *{
	overflow: visible !important;
}
.open{
	overflow: visible !important;
}
.search-field{
	margin-top: 5px;
	padding-right: 0 !important;
}
.courselist-container{
	padding: 0px !important;
}
input, select, textarea{
    color: #FFF !important;
}
.panel-body{
	padding: 5px !important;
}
span.badge{
	margin-right: 2px;
	background-color:#009688 !important;
}
.label-success{
	background-color:#009688 !important;
}
.courselist-buttons.row span {
	// margin-right: 5px;
	// padding: 7px 9px 7px 9px;
	background-color: #03A9F4;
	text-color: white;
}
.quarter-select{
	margin-top:3px;
}
div.quarter-button {
	padding-right: 0px  !important;
	padding-left: 0px  !important;
}
.c{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.c div.row{
	margin-right: 0px;
	margin-left: 0px;
}
.c button{
	font-weight: bold !important;
	border-radius:1px;
	margin-right:3px;
	width: 20px !important;
	margin-top: 7px;
	margin-: 7px;
	padding: 7px 0 7px 0 !important
}
.c .btn-default{
	background-color: rgba(182, 182, 182, 0.89)  !important;
	color: white !important;
}
.warning{
    position: fixed !important;
    top: 10px !important;
}
